<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.puredesign.mapper.CourseMapper">
    <!--void setStudentCourse(@Param("courseId") Integer courseId, @Param("studentId") Integer studentId)-->
    <insert id="setStudentCourse">
        insert into student_course(student_id, course_id)
        values (#{studentId}, #{courseId})
    </insert>

    <!--void deleteStudentCourse(@Param("courseId") Integer courseId, @Param("studentId") Integer studentId)-->
    <delete id="deleteStudentCourse">
        delete
        from student_course
        where student_id = #{studentID}
          and course_id = #{courseId}
    </delete>

    <!--Page<Course> findPage(@Param("page") Page<Course> page, @Param("name") String name)-->
    <select id="findPage" resultType="com.lt.puredesign.entity.Course">
        select c.*, su.nickname as teacher from course as c left join sys_user as su
        on c.teacher_id = su.id
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>